<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Cho phép ứng dụng truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_arow_back"
        android:roundIcon="@mipmap/ic_arow_back_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_movie_booking_ticket">
        <activity
            android:name=".parthome_SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".parthome_AllUpcomingActivity"
            android:exported="false" />
        <activity
            android:name=".parthome_movie_detail"
            android:exported="false" />
        <activity
            android:name=".parthome_AllMoviesActivity"
            android:exported="false" />
        <activity
            android:name=".activities_1_login"
            android:exported="true" />
        <activity
            android:name=".activities_1_signup"
            android:exported="true" />
        <activity
            android:name=".activities_1_forgot_password"
            android:exported="true" />
        <activity
            android:name=".activities_2_a_menu_manage_fragments"
            android:exported="true" />
        <activity
            android:name=".partuser_edit_profile"
            android:exported="true" />
        <activity
            android:name=".partuser_advanced_settings"
            android:exported="true" />
        <activity
            android:name=".partuser_change_password"
            android:exported="true" />
        <activity
            android:name=".partuser_movie_preferences"
            android:exported="true" />
        <activity
            android:name=".activities_0_loading"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_2_chatbot"
            android:exported="false"
            android:label="@string/chatbot_title"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>